.address-form {
  max-width: 500px;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 10px;
}

label {
  display: contents;
}

.form-help-text {
  font-size: 10pt;
  font-style: italic;
}

.required-asterisk::before {
  content: "*";
  color: #f00;
}